@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Tenor+Sans&display=swap');

.main{
    margin: 0;
    background-color: #331A13;
    margin-top: 50px;
}
.text_footer{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.networks{
    padding-top: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%; 
    background-color: #331A13;
}
article{
    width: 100%;
    padding-top: 30px;
    background-color: #E6D3C0;
    margin-bottom: 7px;
    padding-bottom: 50px;
}
.bezOtstupov{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
ul{
    display: flex;
    padding-top: 25px;
}
li{
    list-style: none;
    margin-right: 20px;
    font-size: 19px;
    font-family: 'Tenor Sans', sans-serif;
}

.logo_logo{
    border: 6px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    width: 50%;
    padding: 50px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 60px;
    color: #FFFFFF;
}



.logo_novosti{
    background-image: url("../../../images/fons/фон\ новости.png");
    background-size: cover;
    margin: 0px;
    padding: 150px 0px;
    text-align: center;
    padding-left: 30%;
}
.abzac_novosti{
    width: 60%;
    border: 2px solid #331A13;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    margin-left: 20%;
    padding: 0 20px;
    text-align: justify;
}
h3{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 30px;
}
.time{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 15px;
    color: gray;

}
.name_abzac{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    padding: 0;
    text-align: justify;
}


@media (max-width: 700px) {
    .main{
        margin: 0;
    }
    
    .logo_novosti{
        background-image: url("../../../images/fons/фон\ новости\ mobile.png");
        background-size: cover;
        width: 100%;
        padding: 20px 0px;
    }
    .logo_logo{
        font-size: 25px;
        padding: 20px;
        margin-left: 25%;
        color: white;
        
    }
    h3{
        font-size: 20px;

    }
    .time{
        font-size: 13px;
    }
    .name_abzac{
        font-size: 15px;
    }
    .abzac_novosti{
        margin-left: 15%;
        width: 70%;
    }
}
