@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Tenor+Sans&display=swap');
.mainFooter{
    margin: 0;
    background-color: #331A13;
}
.text_footer{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.ppp_footer{
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Tenor Sans', sans-serif;
}
.prava{
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 0px;
    font-size: 12px;
}
